.container{
    position: relative;
    margin: 580px auto 0;
    height: 630px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 30px;
    font-family: "Fira Sans";
}
.leftSection{
    padding: 30px;
    font-family: "Fira Sans";

}
.leftSection .subtitle{
    font-size: 14px;
    font-family: "Fira Sans";

}
.leftSection li{
    font-size: 14px;
}
.rightSection{
    padding: 30px;
}

.img{
    height: 500px;
}
@media(max-width: 1000px) {
       .img{
           height: 200px;
           margin-bottom: 38px;
    }
    .leftSection{
        height: 500px;
    }
    .rightSection{
        margin-top: 50px;
        margin-left: 40px;
    }
}
@media(max-width: 500px) {
    .container{
        flex-direction: column;
        margin: 580px auto 0;

    }
    .leftSection{
        margin-top: 750px;
        padding-right: 5px;
        width: 330px;
        margin-left: -10px;
    }
    .rightSection{
        margin-top: 324px;
        margin-bottom: 190px;
    }

}
