@font-face {
  font-family: "Fira Sans"; /* Имя шрифта */
  src: url(fonts/FiraSans-Regular.ttf); /* Путь к файлу со шрифтом */
}

body {
  margin: 0;
  font-family: "Fira Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
